.background {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url(arrierplan2.jpg)
    no-repeat center center/cover;
    filter: blur(2px);
    z-index: -2;
}

.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.container {
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px;
    max-width: 400px;
    margin: 15vh auto 0 auto;
    color: white;
    z-index: 1;
}

.container p {
    font-size: 18px;   
}

.container h1 {
    font-size: 45px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 12px 14px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    min-width: 100px;
}

.kboox {
    background: #2e59a7;
}

.jenmo {
    background: #f45830;
}



.profil-link {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
    z-index: 2;
}
.profil-link p {
    font-size: 18px;
    color: white;
}

.profil-link a {
    color: #fcac3d;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}
.profil-link a:hover {
    text-decoration: underline;
}

/*responsivite*/
@media(max-width : 600px) {    
    .container {
        position: relative;
        text-align: center;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 15px;
        padding: 20px;
        max-width: 290px;
        margin: 15vh auto 0 auto;
        color: white;
        z-index: 1;
    }
    
    .container p {
        font-size: 18px;   
    }
    
    .container h1 {
        font-size: 35px;
    }
    
    .buttons {
        margin-top: 10px;
    }
    
    .btn {
        display: inline-block;
        margin: 10px;
        padding: 10px 12px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        min-width: 80px;
    }
    
    .kboox {
        background: #2e59a7;
    }
    
    .jenmo {
        background: #f45830;
    }
    
    .profil-link p {
        font-size: 15px;
        color: white;
    }
}